extends layout

block content
  //- Page Header Section
  #banner.page-header
    .row
      .col-lg-6
        h1 Loc8r
        small &nbsp;Find places to work with wifi near you!

  //- Main Content Area
  .row
    //- List Area - Takes 8 columns on small devices and up, 12 on extra small
    .col-xs-12.col-sm-8
      p List area.
      //-location list content will go here

    //- Sidebar - Takes 4 columns on small devices and up, 12 on extra small
    .col-xs-12.col-sm-4
      p.lead Loc8r helps you find places to work when out and about.
      //- Additional sidebar content will go here